<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>results</title>
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/clouds.css">
  </head>
  <body>
    <div class="content">
      <h1>The weather in <%= query %> is <%= weather %> Celcius.</h1>
      <h1>The weather description is <%= description %></h1>
      <img src="<%=weatherUrl%>" alt="">
    </div>
  </body>
</html>
