<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weather App</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome To The Weather App</h1>
      <form class="" action="/" method="post">
        <input type="text" name="cityName" value="" placeholder="Enter City Here">
        <button type="submit" name="button">Click Me!</button>
      </form>
      <!-- <img src="https://media.giphy.com/media/l4FGkdtLGfpUiBdFC/giphy.gif" alt=""> -->
    </div>
  </body>
</html>
