body {
  background-image: url("https://media.giphy.com/media/l4FGkdtLGfpUiBdFC/giphy.gif");
  font-family: 'Grandstander', cursive;
}

h1 {
  color: #8675a9;
  font-size: 3em;
}

input {
  border-radius: 7%;
  height: 10%;
  width: 20%;
}

button {
  background-color: #fcf876;
  border-radius: 15%;
}
.container {
  margin-top: 27%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
   .container {
    margin-top: 20%;
    color: #8675a9;
  }
}
