body {
  background-image: url("https://source.unsplash.com/7CME6Wlgrdk");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  text-align: center;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh; 
}

h1 {
  width: 70%;
  margin: auto;
  font-size: 3em;
}

.content {
  margin-top: 20%;
  color: white;
  font-family: 'Grandstander', cursive;
}
